section#our-story {
    background-color: #243231;
    min-height: 550px;
    height: auto;
    
}


section#our-story::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../img/svg/coffee-cup.svg');
    background-repeat: no-repeat;
    background-position: 90% 90%;
    background-size: 250px;
    filter: brightness(0.5);
    opacity: 1;
    z-index: 0;
    pointer-events: none;
}

.container-story{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    object-fit: cover;
}

.story-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    width: 100%;
    gap: 50px;
    max-width: 600px;
}

.story-image img {
  width: 100%;
  min-width: 200px;
  object-fit: cover;
  object-position: center;
}

.story-image img.big-story-image {
  height: 500px;
}

.story-image img.image-after-text {
  height: 350px;
  object-position: left;
}

.image-caption {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

/* Media Queries */
@media (max-width: 1024px) {
    .container-story {
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* padding: 20px; */
    }
    .story-image {
        flex-direction: column;
        align-items: center;
    }

    .story-image img.big-story-image {
        height: 300px;
    }

    .story-image img.image-after-text {
        height: 250px;
    }
}